<%- include("./partials/header") %>

<div class="px-10 hisaabs">
  <h3 class="text-2xl font-medium mb-5 tracking-tight mt-10">
    Your all Hisaabs
  </h3>

  <%if(files.length>0){%> <%files.forEach(function(file){%>
  <div
    class="hisaab mb-4 bg-blue-500 flex justify-between gap-20 rounded-md items-center w-fit px-5 py-3"
  >
    <div class="flex gap-4 text-white items-center">
      <h3 class="capitalize text-1xl"><%=file.split('.')[0]%></h3>
      <a href="/hisaab/<%=file%>">
        <i
          class="w-6 h-6 flex items-center justify-center text-white rounded-full bx bxs-right-arrow-circle"
        ></i>
      </a>
    </div>
    <div class="flex gap-3 items-center">
      <a href="/edit/<%=file%>">
        <i class="bx bxs-edit-alt"></i>
      </a>
      <a href="/delete/<%=file%>">
        <i class="text-red-600 bx bxs-trash"></i>
      </a>
    </div>
  </div>
  <% })%> <%}else{%>
  <h3 class="text-xl text-zinc-400">Nothing to show, create hisabs</h3>
  <%}%>
</div>

<%- include("./partials/footer") %>
